@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Congrats</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Congratulations!!
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Your account has been activated!
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a class="nav-link ml-2 btn btn-dark" asp-controller="NewLogin" asp-action="Quit"> <strong>Back to Login Page</strong> </a>
            </div>
        </div>
    </div>
</body>
</html>